.transaction {
  flex: 4;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

.txWrapper {
  display: flex;
  /* box-shadow: 0px 5px 5px grey; */
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(252, 249, 224); */
  border-radius: 15px;
  /* box-shadow: 0px 5px 5px grey; */
}

.txDetails{
  margin-left: 20px;
  width: 400px;
  /* border-radius: 10px; */
}