.clientType {
  width: 300px;
  height: 300px;
}

@media (max-width: 768px) {
  .clientType {
    width: 100%;
    height: auto;
    min-height: 250px;
    display: flex;
    justify-content: center;
  }
}
