.userList{
    flex: 4;
}

.userListUser {
  display: flex;
  align-items: center;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit {
  margin-right: 10px;
}

.userListDelete {
  color: red;
  cursor: pointer;
  font-size: 20px;
}

.userListAction{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 10px;
}

.userListAction a {
  text-decoration: none;
}
